.AboutContainer {
    display: flex;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-bottom: 60px;
    padding: 20px;
}

body.dark-mode .AboutContainer {
    background-color: #121212;
    color: white;
}

.About {
    margin-right: 150px;
    margin-left: 30px;
    text-decoration: none;
}

.AboutHeader {
    font-size: 3rem;
    margin-bottom: 20px;
}

.AboutIntro {
    color: black;
}

body.dark-mode .AboutIntro {
    color: white;
}

.AboutName {
    color: #03e4cd;
}

body.dark-mode .AboutName {
    color: #03DAC6;
}

.Description {
    max-width: 500px;
    line-height: 1.6;
    font-size: 1.3rem;
    color: rgb(99, 98, 98);
}

body.dark-mode .Description {
    color: rgb(161, 158, 158);
}

.Resume {
    margin-top: 30px;
}

.ResumeButton {
    background-image: linear-gradient(45deg, #03DAC6, #03e4cd);
    color: #F0F0F0;
    border: none;
    padding: 15px 70px;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 40px;
}

body.dark-mode .ResumeButton {
    background-image: linear-gradient(45deg, #03DAC6, #018786);
}

.Profile img {
    border-radius: 50%;
    width: 350px;
    height: 380px;
    box-shadow: 0 0 20px #03e4cd;
    border: 5px solid #03e4cd;
    z-index: 20;
    margin-right: 30px;
    margin-bottom: 30px;
}

body.dark-mode .Profile img {
    border: 5px solid #03DAC6;
    box-shadow: 0 0 10px #03DAC6;
}

/* Media Queries */
@media screen and (max-width: 920px) {
    .AboutContainer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .Profile img {
        margin-right: 0;
        width: 300px;
        height: 330px;
        order: 1;
    }

    .About {
        margin-right: 0;
        margin-left: 0;
        order: 2;
        text-align: center;
    }

    .AboutHeader {
        text-align: center;
        font-size: 2.5rem; /* Slightly reduce font size for smaller screens */
    }

    .Description {
        text-align: center;
        margin: 0 auto; /* Center the description */
    }

    .Resume {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .ResumeButton {
        padding: 15px 30px;
    }

    .Description {
        font-size: 1.1rem;
        max-width: 400px;
    }

    .AboutHeader {
        font-size: 2rem; /* Further reduce for very small screens */
    }
}

@media screen and (max-width: 400px) {
    .Description {
        font-size: 1rem;
        max-width: 300px;
    }

    .ResumeButton {
        padding: 15px 20px;
    }

    .Profile img {
        width: 250px;
        height: 280px;
    }
}
